<div class="title">
  <h3>Transactions</h3>
</div>
<div class="wrapper">
  <cdk-virtual-scroll-viewport
    #scroller
    itemSize="10"
    style="height: 100%; width: 100%"
  >
    <table class="transactions-table">
      <thead>
        <tr class="table-header-actions">
          <th colspan="4">
            <span
              ><i class="fas fa-history"></i>Recent transactions
              <span class="transaction-count">
                ({{ transactions.length }})
              </span>
            </span>
          </th>
        </tr>
        <tr class="table-header">
          <ng-container *ngFor="let column of visibleColumns">
            <th>{{ columns[column] }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *cdkVirtualFor="let trans of transactions" class="data-row">
          <ng-container *ngFor="let column of visibleColumns; let i = index">
            <td>
              <span
                [class]="trans[i]"
                [ngClass]="{ status: column === 'type' }"
                >{{
                  column === "time" ? (trans[i] | date: "medium") : trans[i]
                }}</span
              >
            </td>
          </ng-container>
        </tr>

        <tr>
          <td colspan="100%" align="center">
            <div class="spinner-item">
              <mat-progress-spinner
                [mode]="'indeterminate'"
                [diameter]="50"
              ></mat-progress-spinner>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>
