<table class="transactions-table">
  <thead>
    <tr class="table-header-actions">
      <th colspan="4">
        <span><i></i> Recent transactions</span>
      </th>
    </tr>
    <tr class="table-header">
      <th>Type</th>
      <th>Amout</th>
      <th>Date</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <span class="status">Pending</span>
      </td>
      <td>23685623562v85</td>
      <td>nksdk bks</td>
      <td>sdgkhsdkghsk</td>
    </tr>
  </tbody>
</table>
