<div class="wrapper">
  <table class="transactions-table">
    <thead>
      <tr class="table-header-actions">
        <th colspan="4">
          <span><i class="fas fa-history"></i>Recent transactions</span>
        </th>
      </tr>
      <tr class="table-header">
        <ng-container *ngFor="let column of visibleColumns">
          <th>{{ columns[column] }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of transactions">
        <ng-container *ngFor="let column of visibleColumns; let i = index">
          <td>
            <span
              [class]="trans[i]"
              [ngClass]="{ status: column === 'type' }"
              >{{
                column === "time" ? (trans[i] | date: "medium") : trans[i]
              }}</span
            >
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
